.icons {
  width: 48px;
  height: 48px;
}
@media (max-width: 1199px) {
  .icons {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 575px) {
  .icons {
    width: 24px;
    height: 24px;
  }
}

.icons--dark {
  fill: #333333;
  stroke: #333333;
  stroke-width: 0;
}

.icons--light {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0;
}

.icons--dark-stroke {
  fill: #333333;
  stroke: #333333;
  stroke-width: 2;
}

h1, .intro h2, h2 {
  color: #ffffff;
  font-family: museo-sans-display;
  font-weight: 700;
  text-transform: capitalize;
}
h1, .intro h2, h2 {
  font-size: 32px;
}
@media screen and (min-width: 575px) {
  h1, .intro h2, h2 {
    font-size: calc(32px + 24 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  h1, .intro h2, h2 {
    font-size: 56px;
  }
}

h3 {
  color: #e79123;
  font-family: museo-sans-rounded;
  text-transform: uppercase;
  font-weight: 300;
}
h3 {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  h3 {
    font-size: calc(16px + 6 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  h3 {
    font-size: 22px;
  }
}

h4, .intro .sidebar-article__title, .sidebar-article__title {
  font-family: museo-sans-display;
  font-weight: 700;
}
h4, .intro .sidebar-article__title, .sidebar-article__title {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  h4, .intro .sidebar-article__title, .sidebar-article__title {
    font-size: calc(16px + 12 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  h4, .intro .sidebar-article__title, .sidebar-article__title {
    font-size: 28px;
  }
}

.author__role {
  font-family: museo-sans-rounded;
  font-weight: 300;
}
.author__role {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  .author__role {
    font-size: calc(16px + 6 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  .author__role {
    font-size: 22px;
  }
}

h5 {
  color: #ffffff;
  font-family: museo-sans-condensed;
  font-style: italic;
}
h5 {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  h5 {
    font-size: calc(16px + 4 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  color: #333333;
  font-family: museo-sans-condensed;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h6 {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  h6 {
    font-size: calc(16px + 8 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  h6 {
    font-size: 24px;
  }
}

p {
  font-family: museo-sans-rounded;
  color: #333333;
  line-height: 1.5;
  text-align: justify;
}
p {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  p {
    font-size: calc(16px + 4 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  p {
    font-size: 20px;
  }
}

a, .intro .info__tags > a, .info__tags > a, .nav-btn--font-style {
  font-family: museo-sans-display;
  color: #333333;
  text-transform: uppercase;
}

a, .intro .info__tags > a, .info__tags > a, .nav-btn--font-style {
  font-size: 14px;
}
@media screen and (min-width: 575px) {
  a, .intro .info__tags > a, .info__tags > a, .nav-btn--font-style {
    font-size: calc(14px + 2 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  a, .intro .info__tags > a, .info__tags > a, .nav-btn--font-style {
    font-size: 16px;
  }
}

input[type=email].input-group__box::-moz-placeholder {
  font-family: museo-sans-rounded;
  font-weight: 300;
  color: #ffffff;
  opacity: 1;
}

input[type=email].input-group__box::-moz-placeholder {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  input[type=email].input-group__box::-moz-placeholder {
    font-size: calc(16px + 4 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  input[type=email].input-group__box::-moz-placeholder {
    font-size: 20px;
  }
}

.date-day {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  .date-day {
    font-size: calc(16px + 8 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  .date-day {
    font-size: 24px;
  }
}

.sidebar-article__title {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  .sidebar-article__title {
    font-size: calc(16px + 6 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  .sidebar-article__title {
    font-size: 22px;
  }
}

.info__tags > a, .intro .info__tags > a {
  text-transform: capitalize;
}

.contact {
  font-family: museo-sans-condensed;
  font-size: 16px;
}

.icons {
  width: 48px;
  height: 48px;
}
@media (max-width: 1199px) {
  .icons {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 575px) {
  .icons {
    width: 24px;
    height: 24px;
  }
}

.icons--dark {
  fill: #333333;
  stroke: #333333;
  stroke-width: 0;
}

.icons--light {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0;
}

.icons--dark-stroke {
  fill: #333333;
  stroke: #333333;
  stroke-width: 2;
}

.navigation-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 1199px) {
  .navigation-holder .navigation-holder__nav-btn {
    display: none;
  }
}

#open-menu {
  display: none;
}
@media (max-width: 1199px) {
  #open-menu {
    display: block;
    z-index: 1203;
    position: absolute;
    right: 30px;
    top: -18px;
  }
}

@media (max-width: 1199px) {
  .navigation-holder__mobile-menu {
    display: block;
    width: 220px;
    right: -100%;
    height: 100vh;
    background: #e79123;
    position: absolute;
    z-index: 1202;
    transition: 0.6s ease;
    top: -40px;
    opacity: 0;
  }
}

.navigation-holder__mobile-menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
}
@media (max-width: 1199px) {
  .navigation-holder__mobile-menu ul {
    display: block;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
  }
}

.navigation-holder__mobile-menu ul li {
  list-style: none;
  position: relative;
}

.navigation-holder__mobile-menu ul li a, .navigation-holder__mobile-menu ul li .intro .info__tags > a, .intro .navigation-holder__mobile-menu ul li .info__tags > a {
  margin-right: 32px;
}
@media (max-width: 1199px) {
  .navigation-holder__mobile-menu ul li a, .navigation-holder__mobile-menu ul li .intro .info__tags > a, .intro .navigation-holder__mobile-menu ul li .info__tags > a {
    margin: 0 auto;
    width: 100%;
  }

  .navigation-holder__mobile-menu ul li a:after, .navigation-holder__mobile-menu ul li .intro .info__tags > a:after, .intro .navigation-holder__mobile-menu ul li .info__tags > a:after {
    content: "";
    background: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: -1;
    transition: 0.4s ease;
  }

  .navigation-holder__mobile-menu ul li a:hover {
    color: #ffffff;
  }

  .navigation-holder__mobile-menu ul li a:hover:after {
    left: 0;
  }
}

.navigation-holder__mobile-menu--open {
  right: -7%;
  opacity: 1;
}

.published {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.published__date .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid #717171;
}
@media (max-width: 1199px) {
  .published__date .date {
    width: auto;
    height: auto;
    border: 0;
    border-right: 1px solid #333333;
    padding: 0 12px 0 0;
  }
}

.published__date .date__day {
  font-family: museo-sans-display;
  color: #333333;
  font-weight: 700;
  margin: 0;
}

.published__date .date__month {
  font-family: museo-sans-condensed;
  color: #333333;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.published__author {
  margin-left: 20px;
}

.published__author .author__role {
  margin: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 24px;
  color: #ffffff;
  line-height: 1.15;
}
@media (max-width: 1199px) {
  .contact {
    max-width: 250px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.contact__group {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1199px) {
  .contact__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 1199px) {
  .contact__group--left {
    margin-bottom: 12px;
  }
}

.contact__city {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

@media (max-width: 1199px) {
  .contact__city {
    margin-bottom: 4px;
  }
}

.contact__street {
  font-size: 20px;
}

.contact__postcode {
  margin-top: 24px;
}

@media (max-width: 1199px) {
  .contact__postcode {
    margin: 0 0 4px 0;
  }
}

.contact__country {
  margin-bottom: 24px;
}

@media (max-width: 1199px) {
  .contact__country {
    margin: 0;
  }
}

.navigation-holder__nav-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #e79123;
  color: #000000;
  padding: 8px 24px;
}

.navigation-holder__nav-btn:hover, .navigation-holder__nav-btn:focus, .navigation-holder__nav-btn:active {
  background-color: #333333;
  color: #e79123;
}

.footer__button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #ffffff;
  color: #ffffff;
  padding: 8px 24px;
}
@media (max-width: 575px) {
  .footer__button {
    padding: 8px 20px;
  }
}

.footer__button:hover, .footer__button:focus, .footer__button:active {
  background-color: #ffffff;
  color: #333333;
  border-color: #333333;
}

.input-group__btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #ffffff;
  color: #000000;
  padding: 8px 20px;
}

.input-group__btn:hover, .input-group__btn:focus, .input-group__btn:active {
  background-color: #e79123;
}

body {
  overflow-x: hidden;
}

.main-wrapper {
  width: 90%;
  max-width: 1540px;
  margin: 0 auto;
}

.opening-container {
  padding-top: 100px;
}

@media (max-width: 1199px) {
  .opening-container {
    padding-top: 80px;
  }
}

.main-container {
  margin-top: 80px;
}

@media (max-width: 1199px) {
  .main-container {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .main-container {
    margin-top: 12px;
  }
}

.logo {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  height: 80px;
}

@media (max-width: 1199px) {
  .logo {
    height: 60px;
  }
}

@media (min-width: 1199px) {
  .logo--small {
    height: 60px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
}

a, .intro .info__tags > a, .info__tags > a {
  padding: 6px 0;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
a:hover, .intro .info__tags > a:hover {
  text-decoration: none;
  color: inherit;
}
a::after, .intro .info__tags > a::after, .info__tags > a::after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  left: 50%;
  background: #e79123;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover::after, .intro .info__tags > a:hover::after {
  width: 100%;
  left: 0;
}
a .sidebar-article__title:hover::after {
  width: 98%;
  left: 16px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  z-index: 1200;
  height: 100px;
  transition: height 0.3s linear;
  position: fixed;
  top: 0;
}
@media (max-width: 1199px) {
  .header-container {
    height: 80px;
  }
}
.header-container:after {
  content: "";
  width: 0;
}
.header-container--sticky {
  height: 80px;
  transition: height 0.3s linear;
}
.header-container--sticky:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  display: block;
  background-color: #e79123;
  animation: smooth-underline 0.4s forwards;
}

@keyframes smooth-underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.intro {
  height: 680px;
  z-index: 0;
  padding-right: 80px;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/opening_image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
@media (max-width: 1199px) {
  .intro {
    height: calc(100vh - 80px);
  }
}

.intro .icons {
  width: 48px;
  height: 48px;
}

@media (max-width: 1199px) {
  .intro .icons {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 575px) {
  .intro .icons {
    width: 24px;
    height: 24px;
  }
}

.intro .icons--dark {
  fill: #333333;
  stroke: #333333;
  stroke-width: 0;
}

.intro .icons--light {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0;
}

.intro .icons--dark-stroke {
  fill: #333333;
  stroke: #333333;
  stroke-width: 2;
}
.intro h1, .intro h2 {
  color: #ffffff;
  font-family: museo-sans-display;
  font-weight: 700;
  text-transform: capitalize;
}
.intro h1, .intro h2 {
  font-size: 32px;
}
@media screen and (min-width: 575px) {
  .intro h1, .intro h2 {
    font-size: calc(32px + 24 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  .intro h1, .intro h2 {
    font-size: 56px;
  }
}
.intro h3 {
  color: #e79123;
  font-family: museo-sans-rounded;
  text-transform: uppercase;
  font-weight: 300;
}
.intro h3 {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  .intro h3 {
    font-size: calc(16px + 6 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  .intro h3 {
    font-size: 22px;
  }
}
.intro h4, .intro .sidebar-article__title {
  font-family: museo-sans-display;
  font-weight: 700;
}
.intro h4, .intro .sidebar-article__title {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  .intro h4, .intro .sidebar-article__title {
    font-size: calc(16px + 12 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  .intro h4, .intro .sidebar-article__title {
    font-size: 28px;
  }
}
.intro .author__role {
  font-family: museo-sans-rounded;
  font-weight: 300;
}
.intro .author__role {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  .intro .author__role {
    font-size: calc(16px + 6 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  .intro .author__role {
    font-size: 22px;
  }
}
.intro h5 {
  color: #ffffff;
  font-family: museo-sans-condensed;
  font-style: italic;
}
.intro h5 {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  .intro h5 {
    font-size: calc(16px + 4 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  .intro h5 {
    font-size: 20px;
  }
}
.intro h6 {
  color: #333333;
  font-family: museo-sans-condensed;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.intro h6 {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  .intro h6 {
    font-size: calc(16px + 8 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  .intro h6 {
    font-size: 24px;
  }
}
.intro p {
  font-family: museo-sans-rounded;
  color: #333333;
  line-height: 1.5;
  text-align: justify;
}
.intro p {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  .intro p {
    font-size: calc(16px + 4 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  .intro p {
    font-size: 20px;
  }
}

.intro a, .intro .info__tags > a, .intro .nav-btn--font-style {
  font-family: museo-sans-display;
  color: #333333;
  text-transform: uppercase;
}

.intro a, .intro .info__tags > a, .intro .nav-btn--font-style {
  font-size: 14px;
}
@media screen and (min-width: 575px) {
  .intro a, .intro .info__tags > a, .intro .nav-btn--font-style {
    font-size: calc(14px + 2 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  .intro a, .intro .info__tags > a, .intro .nav-btn--font-style {
    font-size: 16px;
  }
}

.intro input[type=email].input-group__box::-moz-placeholder {
  font-family: museo-sans-rounded;
  font-weight: 300;
  color: #ffffff;
  opacity: 1;
}

.intro input[type=email].input-group__box::-moz-placeholder {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  .intro input[type=email].input-group__box::-moz-placeholder {
    font-size: calc(16px + 4 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  .intro input[type=email].input-group__box::-moz-placeholder {
    font-size: 20px;
  }
}
.intro .date-day {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  .intro .date-day {
    font-size: calc(16px + 8 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  .intro .date-day {
    font-size: 24px;
  }
}
.intro .sidebar-article__title {
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  .intro .sidebar-article__title {
    font-size: calc(16px + 6 * ((100vw - 575px) / 625));
  }
}
@media screen and (min-width: 1200px) {
  .intro .sidebar-article__title {
    font-size: 22px;
  }
}
.intro .info__tags > a {
  text-transform: capitalize;
}

.intro .contact {
  font-family: museo-sans-condensed;
  font-size: 16px;
}

.intro .icons {
  width: 48px;
  height: 48px;
}

@media (max-width: 1199px) {
  .intro .icons {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 575px) {
  .intro .icons {
    width: 24px;
    height: 24px;
  }
}

.intro .icons--dark {
  fill: #333333;
  stroke: #333333;
  stroke-width: 0;
}

.intro .icons--light {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0;
}

.intro .icons--dark-stroke {
  fill: #333333;
  stroke: #333333;
  stroke-width: 2;
}

.intro .navigation-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 1199px) {
  .intro .navigation-holder .navigation-holder__nav-btn {
    display: none;
  }
}

.intro #open-menu {
  display: none;
}

@media (max-width: 1199px) {
  .intro #open-menu {
    display: block;
    z-index: 1203;
    position: absolute;
    right: 30px;
    top: -18px;
  }
}

@media (max-width: 1199px) {
  .intro .navigation-holder__mobile-menu {
    display: block;
    width: 220px;
    right: -100%;
    height: 100vh;
    background: #e79123;
    position: absolute;
    z-index: 1202;
    transition: 0.6s ease;
    top: -40px;
    opacity: 0;
  }
}

.intro .navigation-holder__mobile-menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
}

@media (max-width: 1199px) {
  .intro .navigation-holder__mobile-menu ul {
    display: block;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
  }
}

.intro .navigation-holder__mobile-menu ul li {
  list-style: none;
  position: relative;
}

.intro .navigation-holder__mobile-menu ul li a {
  margin-right: 32px;
}

@media (max-width: 1199px) {
  .intro .navigation-holder__mobile-menu ul li a {
    margin: 0 auto;
    width: 100%;
  }

  .intro .navigation-holder__mobile-menu ul li a:after {
    content: "";
    background: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: -1;
    transition: 0.4s ease;
  }

  .intro .navigation-holder__mobile-menu ul li a:hover {
    color: #ffffff;
  }

  .intro .navigation-holder__mobile-menu ul li a:hover:after {
    left: 0;
  }
}

.intro .navigation-holder__mobile-menu--open {
  right: -7%;
  opacity: 1;
}

.intro .published {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.intro .published__date .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid #717171;
}

@media (max-width: 1199px) {
  .intro .published__date .date {
    width: auto;
    height: auto;
    border: 0;
    border-right: 1px solid #333333;
    padding: 0 12px 0 0;
  }
}

.intro .published__date .date__day {
  font-family: museo-sans-display;
  color: #333333;
  font-weight: 700;
  margin: 0;
}

.intro .published__date .date__month {
  font-family: museo-sans-condensed;
  color: #333333;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.intro .published__author {
  margin-left: 20px;
}

.intro .published__author .author__role {
  margin: 0;
}

.intro .contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 24px;
  color: #ffffff;
  line-height: 1.15;
}

@media (max-width: 1199px) {
  .intro .contact {
    max-width: 250px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.intro .contact__group {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1199px) {
  .intro .contact__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 1199px) {
  .intro .contact__group--left {
    margin-bottom: 12px;
  }
}

.intro .contact__city {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

@media (max-width: 1199px) {
  .intro .contact__city {
    margin-bottom: 4px;
  }
}

.intro .contact__street {
  font-size: 20px;
}

.intro .contact__postcode {
  margin-top: 24px;
}

@media (max-width: 1199px) {
  .intro .contact__postcode {
    margin: 0 0 4px 0;
  }
}

.intro .contact__country {
  margin-bottom: 24px;
}

@media (max-width: 1199px) {
  .intro .contact__country {
    margin: 0;
  }
}

.intro .navigation-holder__nav-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #e79123;
  color: #000000;
  padding: 8px 24px;
}

.intro .navigation-holder__nav-btn:hover, .intro .navigation-holder__nav-btn:focus, .intro .navigation-holder__nav-btn:active {
  background-color: #333333;
  color: #e79123;
}

.intro .footer__button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #ffffff;
  color: #ffffff;
  padding: 8px 24px;
}

@media (max-width: 575px) {
  .intro .footer__button {
    padding: 8px 20px;
  }
}

.intro .footer__button:hover, .intro .footer__button:focus, .intro .footer__button:active {
  background-color: #ffffff;
  color: #333333;
  border-color: #333333;
}

.intro .input-group__btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #ffffff;
  color: #000000;
  padding: 8px 20px;
}

.intro .input-group__btn:hover, .intro .input-group__btn:focus, .intro .input-group__btn:active {
  background-color: #e79123;
}

.intro body {
  overflow-x: hidden;
}

.intro .main-wrapper {
  width: 90%;
  max-width: 1540px;
  margin: 0 auto;
}

.intro .opening-container {
  padding-top: 100px;
}

@media (max-width: 1199px) {
  .intro .opening-container {
    padding-top: 80px;
  }
}

.intro .main-container {
  margin-top: 80px;
}

@media (max-width: 1199px) {
  .intro .main-container {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .intro .main-container {
    margin-top: 12px;
  }
}

.intro .logo {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  height: 80px;
}

@media (max-width: 1199px) {
  .intro .logo {
    height: 60px;
  }
}

@media (min-width: 1199px) {
  .intro .logo--small {
    height: 60px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
}

.intro a {
  padding: 6px 0;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.intro a:hover {
  text-decoration: none;
  color: inherit;
}

.intro a::after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  left: 50%;
  background: #e79123;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.intro a:hover::after {
  width: 100%;
  left: 0;
}

.intro a .sidebar-article__title:hover::after {
  width: 98%;
  left: 16px;
}
@media (max-width: 1199px) {
  .intro {
    padding: 0;
    align-items: center;
  }
}

.intro:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 130%;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/opening_image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
@media (max-width: 1199px) {
  .intro:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    width: 130%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/opening_image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.intro__title {
  width: 100%;
  margin-bottom: 95px;
  position: relative;
}

.intro__title:before {
  content: "";
  position: absolute;
  width: 200px;
  border-top: 4px solid #e79123;
  top: -35px;
}
@media (max-width: 1199px) {
  .intro__title {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .intro__title {
    width: 100%;
  }
}

.intro__paragraph {
  max-width: 60%;
  line-height: 1.5;
  text-align: justify;
}
@media (max-width: 575px) {
  .intro__paragraph {
    max-width: 100%;
    text-align: left;
  }
}

.info {
  padding-left: 55px;
}
@media (max-width: 1400px) {
  .info {
    padding-left: 15px;
  }
}
@media (max-width: 1199px) {
  .info {
    padding-left: 0;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (max-width: 575px) {
  .info {
    flex-direction: column;
  }
}

.info__row {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1199px) {
  .info__row {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .info__row {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .info__row:nth-child(2) {
    align-items: flex-end;
  }
}
@media (max-width: 575px) {
  .info__row:nth-child(2) {
    align-items: flex-start;
  }
}
@media (max-width: 1199px) {
  .info__row:nth-child(3) {
    display: none;
  }
}

.info__row:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 1199px) {
  .info__row:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (max-width: 575px) {
  .info__row:not(:last-child) {
    margin-bottom: 12px;
  }
}

.info__row .info__label {
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  .info__row .info__label {
    margin-bottom: 4px;
    align-self: flex-end;
  }
}
@media (max-width: 575px) {
  .info__row .info__label {
    align-self: flex-start;
  }
}

@media (max-width: 1199px) {
  .info__row .info__tags {
    max-width: 220px;
    min-width: 184px;
    width: 100%;
    text-align: right;
  }
}

@media (max-width: 575px) {
  .info__row .info__tags {
    text-align: left;
  }
}

.info__row .info__tags > a, .info__row .intro .info__tags > a {
  padding-top: 0;
}

.icons__holder {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1199px) {
  .icons__holder {
    width: 100%;
  }
}

.main-article__article-holder {
  margin-bottom: 40px;
}

.main-article__article-holder .article-holder__image-wrapper {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 575px) {
  .main-article__article-holder .article-holder__image-wrapper {
    max-width: 100%;
    margin: 0 0 20px 0 !important;
  }
}

.main-article__article-holder .article-holder__image-wrapper > img {
  width: 100%;
  max-width: 520px;
}

.main-article__article-holder .article-holder__image-wrapper--left-aligned {
  margin-right: 32px;
}
@media (max-width: 575px) {
  .main-article__article-holder .article-holder__image-wrapper--left-aligned {
    margin: 0;
  }
}

.main-article__article-holder .article-holder__image-wrapper--right-aligned {
  margin-left: 32px;
}
@media (max-width: 575px) {
  .main-article__article-holder .article-holder__image-wrapper--right-aligned {
    margin: 0;
  }
}

.main-article__article-holder .article-holder__image-description {
  color: #a0a0a0;
  font-family: museo-sans-condensed;
  font-style: italic;
  font-size: 16px;
  line-height: 1.2;
  padding: 0 12px;
}

.sidebar-title {
  margin-bottom: 32px;
  letter-spacing: 2px;
}
@media (max-width: 1199px) {
  .sidebar-title {
    margin-bottom: 12px;
  }
}

.sidebar-article {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
}
@media (max-width: 1199px) {
  .sidebar-article {
    margin-bottom: 12px;
  }
}
.sidebar-article__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
}
.sidebar-article__date .date-day {
  font-family: museo-sans-display;
  color: #333333;
  font-weight: 700;
  margin: 0;
  line-height: 1.15;
}
.sidebar-article__date .date-month {
  font-family: museo-sans-condensed;
  color: #333333;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}
.sidebar-article__title-holder {
  padding-left: 16px;
  border-left: 1px solid #717171;
  width: 85%;
}
@media (max-width: 575px) {
  .sidebar-article__title-holder {
    width: 100%;
  }
}

.sidebar-article__title {
  display: inline-block;
  hyphens: auto;
  margin: 12px 0;
}
@media (max-width: 575px) {
  .sidebar-article__title {
    padding: 4px 0 4px 6px;
  }
}

.footer-container {
  background-color: #333333;
  padding: 100px 0 0 0;
  overflow-x: hidden;
}

@media (max-width: 575px) {
  .footer-container {
    padding: 25px 0 0 0;
  }
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer__left {
  display: flex;
}

@media (min-width: 1199px) {
  .footer__left {
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 1199px) {
  .footer__left {
    flex-direction: column;
    align-items: center;
  }
}

.footer__right {
  display: flex;
}

@media (min-width: 1199px) {
  .footer__right {
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 1199px) {
  .footer__right {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1199px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__title {
  text-transform: uppercase;
  hyphens: auto;
  -moz-hyphens: auto;
}

.footer__contact-wrapper {
  display: flex;
  flex-direction: row;
}

@media (min-width: 1199px) {
  .footer__contact-wrapper {
    height: 200px;
  }
}

@media (max-width: 1199px) {
  .footer__contact-wrapper {
    order: 2;
    justify-content: flex-end;
  }
}

.footer__contact-wrapper__icon-wrapper {
  margin-top: -8px;
}
@media (max-width: 1199px) {
  .footer__contact-wrapper__icon-wrapper {
    margin-top: 0;
  }
}

.footer__contact-wrapper__icon-wrapper .address__icon {
  width: 48px;
  height: auto;
  fill: #e79123;
  stroke-width: 0;
}

.footer__contact-wrapper__icon-wrapper .address__icon > circle {
  fill: #333333;
}

.footer__description {
  font-family: museo-sans-condensed;
  text-align: justify;
  font-style: normal;
  width: 75%;
  color: #ffffff;
  line-height: 1.8;
}

@media (min-width: 1199px) {
  .footer__description {
    height: 200px;
  }
}
@media (max-width: 1199px) {
  .footer__description {
    order: 5;
    max-width: 750px;
    line-height: 1.5;
  }
}

.footer__social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 1199px) {
  .footer__social-media {
    order: 3;
    justify-content: flex-end;
  }
}

.footer__social-media .footer__icons-wrapper > a, .footer__social-media .intro .info__tags.footer__icons-wrapper > a {
  margin-left: 24px;
}

@media (max-width: 1199px) {
  .footer__social-media .footer__icons-wrapper > a, .footer__social-media .intro .info__tags.footer__icons-wrapper > a {
    margin-left: 18px;
  }
}
@media (max-width: 767px) {
  .footer__social-media .footer__icons-wrapper {
    display: none;
  }
}

.footer__input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1199px) {
  .footer__input-group {
    width: 100%;
    order: 6;
  }
}

.footer__input-group .input-group {
  position: relative;
}

@media (min-width: 1199px) {
  .footer__input-group .input-group {
    max-width: 600px;
    min-width: 500px;
  }
}

@media (max-width: 1199px) {
  .footer__input-group .input-group {
    max-width: 400px;
  }
}

.footer__input-group .input-group__box {
  border-radius: 0;
  padding: 12px 0 12px 30px;
  color: #ffffff;
  border: 2px solid #717171;
  background-color: transparent;
  max-width: 500px;
  width: 100%;
}

@media (max-width: 1199px) {
  .footer__input-group .input-group__box {
    max-width: 400px;
  }
}

.footer__input-group .input-group__btn {
  position: absolute;
  right: 4px;
  top: 5px;
}
@media (max-width: 1199px) {
  .footer__input-group .input-group__btn {
    top: 6px;
  }
}

.footer__copyright {
  margin: 0 !important;
  font-family: museo-sans-rounded;
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
}
@media (max-width: 1199px) {
  .footer__copyright {
    order: 7;
    max-width: 230px;
    word-wrap: break-word;
    text-align: left;
  }
}

.footer__about {
  width: 70%;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e79123;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .footer__about {
    order: 8;
    width: 200%;
  }
}

.footer__about::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 130%;
  background-color: #e79123;
}
@media (max-width: 1199px) {
  .footer__about::after {
    display: none;
  }
}

.footer__about .logo > img {
  height: 60px;
}

.footer__about .footer__link__wrapper {
  display: flex;
  flex-direction: row;
}

.footer__about .footer__link__wrapper .footer__link {
  margin-left: 40px;
}
@media (max-width: 1199px) {
  .footer__about .footer__link__wrapper .footer__link {
    margin-left: 20px;
  }
}

.mobile-bottom-margin {
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .mobile-bottom-margin {
    margin-bottom: 26px !important;
  }
}

/*# sourceMappingURL=main.css.map */
