.main-article {
  &__article-holder {
    margin-bottom: 40px;

    .article-holder {
      &__image-wrapper {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        @media (max-width: 575px) {
          max-width: 100%;
          margin: 0 0 20px 0 !important;
        }

        & > img {
          width: 100%;
          max-width: 520px;
        }

        &--left-aligned {
          margin-right: 32px;
          @media (max-width: 575px) {
            margin: 0;
          }
        }

        &--right-aligned {
          margin-left: 32px;
          @media (max-width: 575px) {
            margin: 0;
          }
        }
      }

      &__image-description {
        color: $image-description;
        font-family: $condensed;
        font-style: italic;
        font-size: 16px;
        line-height: 1.2;
        padding: 0 12px;
      }
    }
  }
}



