.footer-container {
  background-color: $dark-gray;
  padding: 100px 0 0 0;
  overflow-x: hidden;
  @media (max-width: 575px) {
    padding: 25px 0 0 0;
  }
}

.footer {
  display: flex;
  flex-direction: row;

  &__left {
    display: flex;
    @media (min-width: 1199px) {
      width: 50%;
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: 1199px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__right {
    display: flex;
    @media (min-width: 1199px) {
      width: 50%;
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: 1199px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.footer {
  @media (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
    hyphens: auto;
    -moz-hyphens: auto;
  }

  &__contact-wrapper {
    display: flex;
    flex-direction: row;
    @media (min-width: 1199px) {
      height: 200px;
    }
    @media (max-width: 1199px) {
      order: 2;
      justify-content: flex-end;
    }

    &__icon-wrapper {
      margin-top: -8px;
      @media (max-width: 1199px) {
        margin-top: 0;
      }

      .address__icon {
        width: 48px;
        height: auto;
        fill: $dark-orange;
        stroke-width: 0;

        > circle {
          fill: $dark-gray;
        }
      }
    }
  }

  &__description {
    font-family: $condensed;
    text-align: justify;
    font-style: normal;
    width: 75%;
    color: $white;
    line-height: 1.8;
    @media (min-width: 1199px) {
      height: 200px;
    }
    @media (max-width: 1199px) {
      order: 5;
      max-width: 750px;
      line-height: 1.5;
    }
  }

  &__social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    @media (max-width: 1199px) {
      order: 3;
      justify-content: flex-end;
    }

    .footer__icons-wrapper {
      & > a {
        margin-left: 24px;
      }

      @media (max-width: 1199px) {
        & > a {
          margin-left: 18px;
        }
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &__input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media (max-width: 1199px) {
      width: 100%;
      order: 6;
    }


    .input-group {
      position: relative;
      @media (min-width: 1199px) {
        max-width: 600px;
        min-width: 500px;
      }
      @media (max-width: 1199px) {
        max-width: 400px;
      }

      &__box {
        border-radius: 0;
        padding: 12px 0 12px 30px;;
        color: $white;
        border: 2px solid $light-gray;
        background-color: transparent;
        max-width: 500px;
        width: 100%;
        @media (max-width: 1199px) {
          max-width: 400px;
        }
      }

      &__btn {
        position: absolute;
        right: 4px;
        top: 5px;
        @media (max-width: 1199px) {
          top: 6px;
        }
      }
    }
  }

  &__copyright {
    margin: 0 !important;
    font-family: $rounded;
    color: $white;
    font-size: 10px;
    font-weight: 700;
    @media (max-width: 1199px) {
      order: 7;
      max-width: 230px;
      word-wrap: break-word;
      text-align: left;
    }
  }

  &__about {
    width: 70%;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $dark-orange;
    padding: 10px 0;
    @media (max-width: 1199px) {
      order: 8;
      width: 200%;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 130%;
      background-color: $dark-orange;
      @media (max-width: 1199px) {
        display: none;
      }
    }


    .logo > img {
      height: 60px;
    }

    .footer__link__wrapper {
      display: flex;
      flex-direction: row;

      .footer__link {
        margin-left: 40px;
        @media (max-width: 1199px) {
          margin-left: 20px;
        }
      }
    }
  }
}

.mobile-bottom-margin {
  margin-bottom: 60px;
  @media (max-width: 1199px) {
    margin-bottom: 26px !important;
  }
}