.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $white;
  z-index: 1200;
  height: 100px;
  transition: height .3s linear;
  position: fixed;
  top: 0;
  @media (max-width: 1199px) {
    height: 80px;
  }

  &:after {
    content: '';
    width: 0;
  }

  &--sticky {
    height: 80px;
    transition: height 0.3s linear;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      display: block;
      background-color: $dark-orange;
      animation: smooth-underline .4s forwards;
    }
  }
}



@keyframes smooth-underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}