.info {
  padding-left: 55px;
  @media (max-width: 1400px) {
    padding-left: 15px;
  }
  @media (max-width: 1199px) {
    padding-left: 0;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  @media (max-width: 575px) {
    flex-direction: column;
  }

  &__row {
    display: flex;
    flex-direction: column;
    @media (max-width: 1199px) {
      width: 50%;
    }
    @media (max-width: 575px) {
      width: 100%;
    }

    &:nth-child(2) {
      @media (max-width: 1199px) {
        align-items: flex-end;
      }
      @media (max-width: 575px) {
        align-items: flex-start;
      }
    }

    &:nth-child(3) {
      @media (max-width: 1199px) {
        display: none;
      }
    }

    &:not(:last-child) {
      margin-bottom: 80px;
      @media (max-width: 1199px) {
        margin-bottom: 0;
      }
      @media (max-width: 575px) {
        margin-bottom: 12px;
      }
    }

    .info {
      &__label {
        margin-bottom: 30px;
        @media (max-width: 1199px) {
          margin-bottom: 4px;
          align-self: flex-end;
        }
        @media (max-width: 575px) {
          align-self: flex-start;
        }
      }

      &__tags {
        @media(max-width: 1199px) {
          max-width: 220px;
          min-width: 184px;
          width: 100%;
          text-align: right;
        }
        @media (max-width: 575px) {
          text-align: left;
        }

        & > a {
          padding-top: 0;
        }
      }
    }
  }
}

.icons__holder {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1199px) {
    width: 100%;
  }
}




