.intro {
  height: 680px;
  @media (max-width: 1199px) {
    height: calc(100vh - 80px);
  }
  z-index: 0;
  padding-right: 80px;
  position: relative;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('../images/opening_image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  @import "../modules/base";
  @include flex-vertical-align-middle(left);

  @media (max-width: 1199px) {
    padding: 0;
    align-items: center;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    width: 130%;
    right: 0;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('../images/opening_image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  &:after {
    @media (max-width: 1199px) {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      width: 130%;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('../images/opening_image.jpg');
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }

  &__title {
    width: 100%;
    margin-bottom: 95px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 200px;
      border-top: 4px solid $dark-orange;
      top: -35px;
    }

    @media (max-width: 1199px) {
      width: 90%;
      text-align: center;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
  }

  &__paragraph {
    max-width: 60%;
    line-height: 1.5;
    text-align: justify;
    @media (max-width: 575px) {
      max-width: 100%;
      text-align: left;
    }
  }
}



