.sidebar-title {
  margin-bottom: 32px;
  letter-spacing: 2px;
  @media (max-width: 1199px) {
    margin-bottom: 12px;
  }
}

.sidebar-article {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
  @media (max-width: 1199px) {
    margin-bottom: 12px;
  }

  &__date {
    @include flex-vertical-align-middle(center);
    width: 60px;

    .date-day {
      @include date-day();
      margin: 0;
      line-height: 1.15;
    }

    .date-month {
      @include date-month();
      margin: 0;
    }
  }

  &__title-holder {
    padding-left: 16px;
    border-left: 1px solid #717171;
    width: 85%;
    @media (max-width: 575px) {
      width: 100%;
    }
  }

  &__title {
    display: inline-block;
    hyphens: auto;
    margin: 12px 0;
    @media (max-width: 575px) {
      padding: 4px 0 4px 6px;
    }
  }
}



