@import "functions.scss";
@import "mixins";
@import "colors.scss";
@import "icons.scss";
@import "typography.scss";
@import "navigation.scss";
@import "published.scss";
@import "contact.scss";
@import "button.scss";

body {
  overflow-x: hidden;
}

.main-wrapper {
  width: 90%;
  max-width: 1540px;
  margin: 0 auto;
}

.opening-container {
  padding-top: 100px;
  @media (max-width: 1199px) {
    padding-top: 80px;
  }
}

.main-container {
  margin-top: 80px;
  @media (max-width: 1199px) {
    margin-top: 40px;
  }
  @media (max-width: 575px) {
    margin-top: 12px;
  }
}

.logo {
  @include logo-transition(0.2s);
  height: 80px;
  @media (max-width: 1199px) {
    height: 60px;
  }
}

.logo--small {
  @media (min-width: 1199px) {
    height: 60px;
    @include logo-transition(0.2s);
  }
}

a {
  padding: 6px 0;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  vertical-align: middle;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  &::after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    left: 50%;
    background: $dark-orange;
    transition: width .3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }

  .sidebar-article__title:hover::after {
    width: 98%;
    left: 16px;
  }
}
