.navigation-holder__nav-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: $dark-orange;
  color: $black;
  padding: 8px 24px;

  &:hover, &:focus, &:active {
    background-color: $dark-gray;
    color: $dark-orange;
  }
}

.footer__button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: $white;
  color: $white;
  padding: 8px 24px;
  @media (max-width: 575px) {
    padding: 8px 20px;
  }

  &:hover, &:focus, &:active {
    background-color: $white;
    color: $dark-gray;
    border-color: $dark-gray;
  }
}

.input-group__btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: $white;
  color: $black;
  padding: 8px 20px;

  &:hover, &:focus, &:active {
    background-color: $dark-orange;
  }
}