.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 24px;
  color: $white;
  line-height: 1.15;
  @media (max-width: 1199px) {
    max-width: 250px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__group {
    display: flex;
    flex-direction: column;
    @media (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &--left {
      @media (max-width: 1199px) {
        margin-bottom: 12px;
      }
    }
  }

  &__city {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    @media (max-width: 1199px) {
      margin-bottom: 4px;
    }
  }

  &__street {
    font-size: 20px;
  }

  &__postcode {
    margin-top: 24px;
    @media (max-width: 1199px) {
      margin: 0 0 4px 0;
    }
  }

  &__country {
    margin-bottom: 24px;
    @media (max-width: 1199px) {
      margin: 0;
    }
  }

  &__phone {

  }
}