.icons {
  width: 48px;
  height: 48px;
  @media (max-width: 1199px) {
    width: 36px;
    height: 36px;
  }
  @media (max-width: 575px) {
    width: 24px;
    height: 24px;
  }
}

.icons--dark {
  @include icon-styling($dark-gray, 0);
}

.icons--light {
  @include icon-styling($white, 0);
}

.icons--dark-stroke {
  @include icon-styling($dark-gray, 2);
}