@mixin flex-vertical-align-middle($flex-align) {
  display: flex;
  flex-direction: column;
  align-items: $flex-align;
  justify-content: center;
}

@mixin date-box($w,$h,$b) {
  @include flex-vertical-align-middle(center);
  width: $w;
  height: $h;
  border: $b solid $light-gray;
}

@mixin date-day() {
  font-family: $display;
  color: $dark-gray;
  font-weight: 700;
}

@mixin date-month() {
  font-family: $condensed;
  color: $dark-gray;
  font-weight: 300;
  text-transform: uppercase;
}

@mixin button-styling($w,$h,$b,$bc,$c) {
  width: $w;
  height: $h;
  border: $b solid $c;
  background-color: $bc;
  color: $c;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
}

@mixin icon-styling($pc, $sw) {
  fill: $pc;
  stroke: $pc;
  stroke-width: $sw;
}

@mixin logo-transition($time) {
  -webkit-transition: all $time linear;
  -moz-transition: all $time linear;
  -ms-transition: all $time linear;
  -o-transition: all $time linear;
  transition: all $time linear;
}