.navigation-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  .navigation-holder__nav-btn {
    @media (max-width: 1199px) {
      display: none;
    }
  }
}

#open-menu {
  display: none;
  @media (max-width: 1199px) {
    display: block;
    z-index: 1203;
    position: absolute;
    right: 30px;
    top: -18px;
  }
}

.navigation-holder__mobile-menu {
  @media (max-width: 1199px) {
    display: block;
    width: 220px;
    right: -100%;
    height: 100vh;
    background: $dark-orange;
    position: absolute;
    z-index: 1202;
    transition: 0.6s ease;
    top: -40px;
    opacity: 0;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;
    @media (max-width: 1199px) {
      display: block;
      position: relative;
      top: 30%;
      transform: translateY(-50%);
    }

    li {
      list-style: none;
      position: relative;

      a {
        margin-right: 32px;

        @media (max-width: 1199px) {
          margin: 0 auto;
          width: 100%;
          &:after {
            content: '';
            background: $black;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 100%;
            top: 0;
            z-index: -1;
            transition: 0.4s ease;
          }
          &:hover {
            &:after {
              left: 0;
            }

            color: $white;
          }
        }
      }
    }
  }
}

.navigation-holder__mobile-menu--open {
  right: -7%;
  opacity: 1;
}