.published {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__date {
    .date {
      @include date-box(80px, 80px, 1px);
      @media (max-width: 1199px) {
        width: auto;
        height: auto;
        border: 0;
        border-right: 1px solid $dark-gray;
        padding: 0 12px 0 0;
      }

      &__day {
        @include date-day();
        margin: 0;
      }

      &__month {
        @include date-month();
        margin: 0;
      }
    }
  }

  &__author {
    margin-left: 20px;

    .author {
      &__role {
        margin: 0;
      }
    }
  }
}