$display: museo-sans-display;
$rounded: museo-sans-rounded;
$condensed: museo-sans-condensed;

$min_width: 575px;
$max_width: 1200px;

h1 {
  $min_font: 32px;
  $max_font: 56px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  color: $white;
  font-family: $display;
  font-weight: 700;
  text-transform: capitalize;
}

h2 {
  @extend h1;
}

h3 {
  color: $dark-orange;
  font-family: $rounded;
  $min_font: 16px;
  $max_font: 22px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  text-transform: uppercase;
  font-weight: 300;
}

h4 {
  font-family: $display;
  $min_font: 16px;
  $max_font: 28px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-weight: 700;
}

.author__role {
  font-family: $rounded;
  $min_font: 16px;
  $max_font: 22px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-weight: 300;

}

h5 {
  color: $white;
  font-family: $condensed;
  font-style: italic;
  $min_font: 16px;
  $max_font: 20px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

h6 {
  color: $dark-gray;
  font-family: $condensed;
  text-transform: uppercase;
  $min_font: 16px;
  $max_font: 24px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  letter-spacing: 2px;
}

p {
  font-family: $rounded;
  $min_font: 16px;
  $max_font: 20px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  color: $dark-gray;
  line-height: 1.5;
  text-align: justify;
}

a, .nav-btn--font-style {
  font-family: $display;
  color: $dark-gray;
  text-transform: uppercase;
  $min_font: 14px;
  $max_font: 16px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

input[type="email"].input-group__box::-moz-placeholder {
  font-family: $rounded;
  font-weight: 300;
  color: $white;
  opacity: 1;
  $min-font: 16px;
  $max-font: 20px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.date-day {
  $min-font: 16px;
  $max-font: 24px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.sidebar-article__title {
  @extend h4;
  $min-font: 16px;
  $max-font: 22px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.info__tags > a {
  @extend a;
  text-transform: capitalize;
}

.contact {
  font-family: $condensed;
  font-size: 16px;
}

.icons {
  width: 48px;
  height: 48px;
  @media (max-width: 1199px) {
    width: 36px;
    height: 36px;
  }
  @media (max-width: 575px) {
    width: 24px;
    height: 24px;
  }
}

.icons--dark {
  @include icon-styling($dark-gray, 0);
}

.icons--light {
  @include icon-styling($white, 0);
}

.icons--dark-stroke {
  @include icon-styling($dark-gray, 2);
}